<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/fr.eseo.atlc2tcsvg/xtend-gen/fr/eseo/atlc2tcsvg/ATLC2TCSVGCompiler.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.eseo.atlc2tcsvg.ATLC2TCSVGCompiler"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="fr.eseo.atlc2tcsvg"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i ../../examples/web/Sequence_Diagram//Sequence2TCSVG.atl&#10;-o ../../examples/web/Sequence_Diagram//Sequence2TCSVG.svg&#10;&#10;-M resources/SVG.ecore&#10;-M ../../examples/web/Sequence_Diagram//Seq.ecore&#10;&#10;-v&#10;-n&#10;&#10;--embedStyle ../../examples/web/Sequence_Diagram//Sequence2TCSVG.css&#10;&#10;--embedSVG ../../examples/web/Sequence_Diagram//markers.svg&#10;--embedSVG ../../examples/web/Sequence_Diagram//uses1.svg"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fr.eseo.atlc2tcsvg"/>
</launchConfiguration>
