<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fr.eseo.atlc.example.scheduling.transfo/xtend-gen/fr/eseo/atlc/example/scheduling/transfo/RunSchedulingGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.eseo.atlc.example.scheduling.transfo.RunSchedulingGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fr.eseo.atlc.example.scheduling.transfo"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dsun.awt.disablegrab=true"/>
</launchConfiguration>
