<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated constraints -->
      <package
            uri="http://eris.eseo.fr/ATLC/Constraints"
            class="fr.eseo.atlc.constraints.ConstraintsPackage"
            genModel="model/constraints.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mutations -->
      <package
            uri="http://eris.eseo.fr/ATLC/Mutation"
            class="fr.eseo.atlc.mutation.MutationPackage"
            genModel="model/mutations.xcore"/>
   </extension>

</plugin>
