/ATLTypeInferenceToEcore.asm
/ATLTypeInference.asm
/OCLLibrary.asm
/TestCases.asm
/ATOLLibrary.asm
/xtend-gen/
/ATLTypeChecking.asm
/ATLTypingHelpers.asm
/ATLTypeInferenceRunner.asm
/ATLTypeInferenceRunner.emftvm
/ATLTypeInferenceMemorizer.asm
/ATLTypeInferenceToEcore.emftvm
/ATLTypeInference.emftvm
/ATLTypeInferenceMemorizer.emftvm
/ATLTypingHelpers.emftvm

*.asm
*.emftvm
