<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation">
<stringAttribute key="ATL File Name" value="//fr.eseo.jatl.atltypeinference/ATLTypeInferenceRunner.atl"/>
<booleanAttribute key="Disable JIT compiler" value="false"/>
<booleanAttribute key="Display Profiling Data" value="false"/>
<booleanAttribute key="Display Timing Data" value="true"/>
<mapAttribute key="Inout Model Options">
<mapEntry key="IN" value="allowIntermodelReferences derivedFile"/>
</mapAttribute>
<mapAttribute key="Inout Models">
<mapEntry key="IN" value="platform:/resource/fr.eseo.jatl.atltypeinference/TestCases.atl"/>
</mapAttribute>
<mapAttribute key="Inout Models Output Locations">
<mapEntry key="IN" value="platform:/resource/fr.eseo.jatl.atltypeinference/TestCases.inferred.atl.xmi"/>
</mapAttribute>
<mapAttribute key="Input Model Options"/>
<mapAttribute key="Input Models">
<mapEntry key="MMS" value="platform:/resource/fr.eseo.jatl.atltype/model/ATLType.ecore"/>
<mapEntry key="OCLLibrary" value="platform:/resource/fr.eseo.jatl.atltypeinference/OCLLibrary.atl"/>
</mapAttribute>
<mapAttribute key="Metamodel Options">
<mapEntry key="Ecore" value="isMetametamodel"/>
</mapAttribute>
<mapAttribute key="Metamodels">
<mapEntry key="ATL" value="http://www.eclipse.org/gmt/2005/ATL"/>
<mapEntry key="Ecore" value="http://www.eclipse.org/emf/2002/Ecore"/>
</mapAttribute>
<stringAttribute key="Module Name" value="ATLTypeInferenceRunner"/>
<stringAttribute key="Module Path" value="/fr.eseo.jatl.atltypeinference/"/>
<mapAttribute key="Output Model Options"/>
<mapAttribute key="Output Models"/>
<listAttribute key="Superimpose">
<listEntry value="//fr.eseo.jatl.atltypeinference/ATLTypeInference.asm"/>
<listEntry value="//fr.eseo.jatl.atltypeinference/ATLTypingHelpers.asm"/>
<listEntry value="//fr.eseo.jatl.atltypeinference/ATLTypeInferenceToEcore.asm"/>
</listAttribute>
</launchConfiguration>
