svg {
    --main-fill: #FEFECE;
    --note-fill: #FBFB77;
    --main-stroke: #A80036;
    --text-fill: #000000;
    --fragment-stroke: #000000;
    --polygon-fill: #EEEEEE;
}
.participant {
    fill: var(--main-fill);
    stroke: var(--main-stroke);
    stroke-width: 1.5;
}
.participantName {
    stroke-width: 0;
}
.actor {
    fill: var(--main-fill);
    stroke: var(--main-stroke);
    stroke-width: 2;
}
.invariant {
    stroke: var(--main-stroke);
    fill: var(--note-fill);
}
.note {
    stroke: var(--main-stroke);
    fill: var(--note-fill);
}
.note polygon {
    fill: none;
}
.lifeline {
    stroke: var(--main-stroke);
    stroke-width: 1.0;
}
.messagePart {
    stroke: var(--main-stroke);
    stroke-width: 1.0;
}
.messageArrow {
    stroke: var(--main-stroke);
    stroke-width: 1.0;
    marker-end: url(#arrowHead);
}
.messageArrowHead {
    fill: var(--main-stroke);
    stroke: var(--main-stroke);
    stroke-width: 1.0;
}
.circle {
    stroke: var(--main-stroke);
}
.found circle {
    fill: none;
}
.set rect {
    fill: none;
}
.fragment rect {
    stroke: var(--fragment-stroke);
    stroke-width: 2.0;
    fill: none;
}
.fragment polygon {
    fill: var(--polygon-fill);
    stroke: var(--fragment-stroke);
    stroke-width: 1.0;
}
text {
    fill: var(--text-fill);
}
.fragment text, .compartment text {
    font-weight: bold;
}
.compartment line {
    stroke: black;
    stroke-dasharray: 2.0,2.0;
}
a[*|href] > text {
    fill: blue; text-decoration: underline;
}
.dashed {
    stroke-dasharray: 2.0,2.0;
}
