<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ATLType -->
      <package
            uri="ATLType"
            class="fr.eseo.jatl.ATLType.ATLTypePackage"
            genModel="model/ATLType.genmodel"/>
   </extension>

</plugin>
